
image: Visual Studio 2022

init:
  #- cmd: where ninja
  #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: Install-WindowsFeature -Name Wireless-Networking
  - ps: Start-Sleep -s 10
  - ps: Restart-Computer
  - ps: Set-Service WlanSvc –startuptype automatic –passthru
  - ps: Start-Service WlanSvc –PassThru

test_script:
  #- ps: .\patch_qt.ps1
  #- ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
  - ps: .\test.ps1 -image $env:APPVEYOR_BUILD_WORKER_IMAGE
  

build: off
on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
